<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truongnguyendinhkhoa_60135847_bai2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruongNguyenDinhKhoa_60135847_Bai2">
        <activity android:name=".Add"
            android:label="Thêm bài thơ"
            android:parentActivityName=".ListActivity"/>
        <activity
            android:name=".Modify"
            android:label="Cập nhật bài thơ"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ListActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>